.contact__desc {
    &--title {
        text-transform: uppercase;
        font-size: 30px;
        letter-spacing: 3px;
        margin-bottom: 30px;
        align-items: center;
        justify-content: center;
        text-align: center; 
    }
}
.formcontact {
    max-width: 100%;
    width: 500px;
    height: 100%;
    background-color: whitesmoke;
    text-align: center;
    color: black;
    padding: 50px 0;
    border-radius: 20px;
    margin: 0 auto;

    &__input {
        border: 1px solid grey;
        border-radius: 10px;
        width: 400px;
        height: 50px;
        padding-left: 20px;
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        color: black;
        margin-bottom: 20px;
    }
    
    &__message {
        border: 1px solid grey;
        border-radius: 10px;
        width: 400px;
        height: 50px;
        padding-left: 20px;
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        color: black;
        margin-bottom: 20px;
        height: 200px;
        padding-top: 20px;
    }
        &--submit {
            border: 1px solid grey;
            border-radius: 10px;
            width: 180px;
            height: 50px;
            font-family: 'Raleway', sans-serif;
            font-size: 12px;
            color: black;
            color: white;
            background-color: grey;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 5px;
            font-weight: 600;
            cursor: pointer;
            vertical-align: middle;
            margin-left: 15px;
        }
            &:hover {
                background-color: grey;
            }
}