.footer {

    &__socialmedia {
        margin: 0 auto;
        
        &--links {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
            list-style: none;
        }

        & img {
            margin: 10px 15px;
            width: 20px;
        }
    }

    &__copyright {
        text-align: center;
        align-items: center;
        justify-content: center;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 15px;
    
    }
}