.nav {
    width: 100%;

    &__links{
        margin-bottom: 25px;
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        word-spacing: 5px;
        list-style: none;
        
        &--button {
        text-transform: uppercase;   
        margin: 0 10px;
        text-decoration: none;
        color: black;
        box-shadow: 0 0 5px black;
        border-radius: 5px;
        padding: 0 10px;
        letter-spacing: 1px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 100%;
        
        &:hover {
            border-color: black;
            background-color: grey;
        }

        }
    }  
}

