.hero {
    margin: 10px;
    padding: 10px;
}
.hero__image {

    &--img {
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        width: 200px;
        border-radius: 200%;
        margin-left: 528px;
    }
}

.hero__desc {
    text-align: center;
    font-family: 'Manrope', sans-serif;
    margin: 10px 0;
    color: black;

    &--title {
        margin-bottom: 10px;
        font-size: 80px;
        font-weight: 10px;
        letter-spacing: 1px;
        line-height: 100px;
        text-transform: uppercase;
        padding: 0;
    }

    &--paragraph {
        margin: 25px;
        font-size: 40px;
        font-weight: 5px;
        letter-spacing: 5px;
        line-height: 35px;
        text-transform: uppercase;
    }
}