.skill {
    &__desc {
        text-align: center;
        font-family: 'Manrope', sans-serif;
        border: 5px solid grey;
        border-radius: 10px;
        width: 200px;


        & h3 {
            text-transform: uppercase;
            color: black;
            margin-bottom: 15px;
            font-size: 25px;
            font-weight: bold;
            letter-spacing: 2px;
         }
         &--img {
             padding: 10px;    
             width: 100px;
             height: 100px;
             
         }
    }

}

.post {
    &__desc {
        text-align: center;
    }

    &__title {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    &__button{
        border: 5px;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        color: black;
        border: 2px solid black;
        border-radius: 10px;
        background-color: grey;
        align-items: center;

        &:hover {
            border-color: 5px solid black;
            background-color: gray;
        }
    }
}
