<!-- Ini adalah HTML untuk halaman index.html -->
<!-- Sisipkan HTML bagian header di sini, dan juga file CSS yang dibutuhkan -->
@@include('../shared/header.html', {
    "style": [
      "assets/css/main.css"
    ]
  })
  <!-- bagian header selesai -->
  
  <!-- Tulis semua coding kalian mulai dari sini -->
  <main id="contact" class="contact">

    <div class="contact__desc">
        <h2 class="contact__desc--title">contact</h2>
    </div>
  
    <form action="message" class="formcontact"> 
      <input class="formcontact__input" type="text" name="name" placeholder="Name" required>
      <input class="formcontact__input" type="email" name="email" placeholder="Email" required>
      <input class="formcontact__input" type="text" name="address" placeholder="Address (optional)">
      <textarea class="formcontact__message" name="message" cols="30" rows="10" placeholder="Message" required></textarea>
      <div class="formcontact__action">
        <button class="formcontact__action--submit" type="submit">SEND</button>
      </div>
    </form>
    
  </main>
  <!-- Penulisan coding selesai di sini -->
  
  
  <!-- Sisipkan HTML bagian footer di sini, dan juga file JS yang dibutuhkan -->
  @@include('../shared/footer.html', {
    "script": [
      "assets/js/app.min.js"
    ]
  })
  <!-- bagian footer selesai -->