<!-- Ini adalah HTML untuk halaman index.html -->
<!-- Sisipkan HTML bagian header di sini, dan juga file CSS yang dibutuhkan -->
@@include('../shared/header.html', {
    "style": [
      "assets/css/main.css"
    ]
  })
  <!-- bagian header selesai -->
  
  <!-- Tulis semua coding kalian mulai dari sini -->
  <main id="portfolio" class="portfolio">
    <section class="skill">
      <div class="skill__image">
        <div class="skill__desc"><h3>my skill</h3>
        <br>    
        </div>
        <img class="skill__desc--img" src="./assets/images/htmllogo.svg" alt="htmllogo">
        <img class="skill__desc--img" src="./assets/images/csslogo.svg" alt="csslogo">
        <img class="skill__desc--img" src="./assets/images/jslogo.svg" alt="jslogo">
      </div>
    </section>
    <br>
    <br>
    <article>
        <div class="post">
            <h2 class="post__desc">Why Web is important?</h2>
            <p class="post__title">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse accusantium laborum dignissimos provident, fugiat iure cumque temporibus distinctio exercitationem ea odit officiis, tempore, amet eaque fugit iusto quisquam. Numquam inventore vero unde et quam praesentium vel, repellat quos! Ex, placeat.</p>
            <a href="#" class="post__button">Readmore</a>
            <h2 class="post__desc">What are the benefits of using the web?</h2>
            <p class="post__title">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti velit necessitatibus quo dolores hic praesentium unde quod neque ex amet in, sapiente dolor quisquam soluta consequuntur! Recusandae incidunt eveniet fugit facere exercitationem ullam, fugiat omnis sapiente consequatur, expedita error corporis.</p>
            <a href="#" class="post__button">Readmore</a>
            <h2 class="post__desc">Why is the web development is important?</h2>
            <p class="post__title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. In vero corporis tempore perspiciatis aspernatur doloremque, cumque alias porro quae sunt eligendi nemo et doloribus magnam, corrupti dolore nihil repudiandae. Minima illo nostrum aliquam corporis tempora voluptas ab distinctio consectetur aliquid.</p>
            <a href="#" class="post__button">Readmore</a>
        </div>
    </article>
  </main>
  <!-- Penulisan coding selesai di sini -->
  
  
  <!-- Sisipkan HTML bagian footer di sini, dan juga file JS yang dibutuhkan -->
  @@include('../shared/footer.html', {
    "script": [
      "assets/js/app.min.js"
    ]
  })
  <!-- bagian footer selesai -->